# Install administrative_history as editable package locally
-e .

fuzzywuzzy
geopandas
matplotlib
numpy
pandas
Pillow
plotly
pydantic
pytest
Shapely
streamlit


# Optional: Required only for shapefile metadata inspection
# Needed for AdministrativeHistory initiated with load_geometries=True
# Install with: pip install fiona
# fiona>=1.9.0

# Optional: required for the example GDP estimations in the jupyter notebook
# libpysal
# esda
# adjustText # For nice plotting of labels in a map