geopandas==0.14.3
matplotlib==3.8.3
numpy==1.24.4
pandas==2.0.3
Pillow==11.2.1
plotly==6.1.1
pydantic==2.11.5
pytest==8.3.5
Shapely==2.1.1
streamlit==1.45.0


# Optional: Required only for shapefile metadata inspection
# Needed for AdministrativeHistory initiated with load_geometries=True
# Install with: pip install fiona
# fiona>=1.9.0

# Optional: required for the example GDP estimations in the jupyter notebook
# libpysal
# esda
# adjustText # For nice plotting of labels in a map